body {
  font-family: $defaultFont, monospace;
  font-size: 16px;
  color: $mainFontColor;
  background-color: $bodyBackgroundColor;
  min-height: 100vh;
  height: 500px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    color: $linkHoverColor;
  }
}
