$defaultFont: 'Hack';

$bodyBackgroundColor: #323232;
$mainFontColor: #e6e6e6;
$buttonBackgroundColor: #434343;
$butttonHoverColor: #545454;
$buttonDisabledColor: #ff6666;
$buttonEnabledColor: #66ff66;

$linkColor: #66ff66;
$linkHoverColor: #0c0;
