@import '~normalize.css';

@import 'base/variables';
@import 'base/mixins';
@import 'base/global';

@import 'modules/wrapper';
@import 'modules/row';
@import 'modules/btn';
@import 'modules/crypto-chart';
@import 'modules/flex-container';
@import 'modules/large-hero';
@import 'modules/currencies';
@import 'modules/date-range';
@import 'modules/shadow';
