.btn {
  background-color: $buttonBackgroundColor;
  font-family: $defaultFont, monospace;
  font-size: .75rem;
  color: $mainFontColor;
  text-decoration: none;
  margin: .5rem;
  padding: .4rem 1.2rem;
  display: inline-block;
  border: 0;
}

.btn:hover {
  background-color: $butttonHoverColor;
}

.btn--enabled {
  border-left: .4rem solid $buttonEnabledColor;
}

.btn--disabled {
  border-left: .4rem solid $buttonDisabledColor;
}
