.btn {
  background-color: $buttonBackgroundColor;
  font-family: $defaultFont, monospace;
  font-size: .75rem;
  color: $mainFontColor;
  text-decoration: none;
  margin: .2rem .4rem;
  padding: .2rem .8rem;
  display: inline-block;
  border: 0;

  @media (min-width: 530px) {
    padding: .4rem 1.2rem;
  }
}

.btn:hover {
  background-color: $butttonHoverColor;
}

.btn--enabled {
  border-left: .2rem solid $buttonEnabledColor;
}

.btn--disabled {
  border-left: .2rem solid $buttonDisabledColor;
}
